# Ignore finder files
.DS_store

# Ignore virtual environment folder
.venv/

# Ignore pre-liminary data files
data/

# Ignore cursor rules
.cursor/rules/

# Ignore pdfs
.pdf/
pdf included/

# Archive
archive/
